<div id="page" class="container">
    <div id="first-view" class="d-flex flex-column align-items-center">
        <h4 class="text-center" style="margin: 20px 10px 10px 0" >Débutants en anglais, bienvenue !</h4>
        <div id="headline" style="margin: 20px 0" >
            <h1 class="text-center" style="font-weight: bold" >45 jours pour passer de <span class="other-light-blue">débutant</span> à <span class="primary-red">compétent</span> en anglais</h1>
            <h2 class="text-center" style="font-size: medium" >Avec notre méthode complète et accompagnée</h2>
        </div>
        <div id="key-points" class="container d-flex flex-wrap justify-content-center align-items-center w-100" style="padding: 0">
            <app-key-point [icon]="'fa-solid fa-graduation-cap fa-2x'" [title]="'Résultats suivis'" style="margin: 5px" ></app-key-point>
            <app-key-point [icon]="'fa-solid fa-layer-group fa-2x'" [title]="'Méthode structurée'" style="margin: 5px"></app-key-point>
            <app-key-point [icon]="'fa-solid fa-user-graduate fa-2x'" [title]="'Accompagnement personnalisé'" style="margin: 5px"></app-key-point>
        </div>
        <div id="problem-questions">
            <h2 style="margin-top: 20px">∘ Vous ne savez pas par où commencer pour apprendre l'anglais ?</h2>
            <h2 style="margin-top: 20px">∘ Vous avez essayé d'apprendre par vous même plusieurs fois sans résultats ?</h2>
        </div>
    </div>
    <h1 class="text-center" style="font-weight: bold" >Vous avez besoin d'un accompagnement complet et structuré</h1>
</div>
