@import '../../../styles.scss';

#page {
    padding: 0;
    width: 100%;
}

#first-view {
    @media screen and (max-width: 768px){
        
    }
}

#problem-questions {
    @media screen and (max-width: 768px){
        padding: 10px;
    }
}

img {
    box-shadow: 5px 5px 36px 5px rgba(0, 0, 0, 0.2);
}