@import '../../styles.scss';

.container-fluid {
    padding: 5px;
    background-color: $other-light-blue;
}

.container-fluid img {
    width: 40%;
    height: auto;

    //on desktop
    @media (min-width: 768px) {
        width: 10%;
    }
}