<div id="form-pop-up" *ngIf="isPopupOpen">
    <div id="form-pop-up-content" class="container">
        <i (click)="toggleForm()" class="fa fa-times" id="close-form"></i>
        <h2>Contactez-nous:</h2>
        <p class="text-center">Nous utiliserons votre numéro pour vous appeler, déterminer votre niveau d'anglais, puis offrir votre première séance gratuite (pas de carte de paiement requise).</p>
        <form [formGroup]="contactForm" style="margin-top: 20px">
            <input type="text" formControlName="name" placeholder="Nom" required>
            <input type="phone" formControlName="phone" placeholder="Téléphone" required>
            <textarea formControlName="other" placeholder="Présentez-vous (optionnel)"></textarea>
        </form>
        <button (click)="submitForm()" class="btn btn-primary" style="margin-top: 20px" [disabled]="!contactForm.valid">Envoyer</button>
    </div>
</div>
