@import "../../../../styles.scss";

:host {
    box-shadow: 5px 5px 36px 5px rgba(0, 0, 0, 0.1);
    background-color: $background-white;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #AAA;
}

p {
    margin: 0;
    padding: 0;
}