@import "../../../../styles.scss";

:host {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    background-color: $secondary-light-gray;
    padding: 5px;
    border-radius: 5px;
}

p {
    margin: 0;
    padding: 0;
}