@font-face {
    font-family: 'Urban Rounded Demi Bold';
    src: url('./assets/UrbaneRounded-DemiBold/UrbaneRounded-DemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Urban Rounded Light';
    src: url('./assets/UrbaneRounded-Light/UrbaneRounded-Light.ttf') format('truetype');
}



$background-white: #ffffff;
$primary-blue: #1E3A8A;
$primary-red: #FA4C3C;

$secondary-yellow: #F59E0B;
$secondary-light-gray: #F7F8F8;

$other-light-blue: #60A5FA;

body {
    background-color: $background-white;
}   

p {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Urban Rounded Demi Bold', sans-serif;
}

.light {
    font-family: 'Urban Rounded Light', sans-serif;
}

.primary-blue {
    color: $primary-blue;
}

.primary-red {
    color: $primary-red;
}

.secondary-yellow {
    color: $secondary-yellow;
}

.secondary-light-gray {
    color: $secondary-light-gray;
}

.other-light-blue {
    color: $other-light-blue;
}